@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <a asp-action="ExporterExcel" class="text-muted">导出Excel</a>
        <a asp-action="ExporterPdf" class="text-success">导出Pdf</a>
    </div>
