@page
@model IndexModel
@using System.Runtime.InteropServices
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h3>@string.Format($"系统架构：{RuntimeInformation.OSArchitecture}")</h3>
    <h3>@string.Format($"系统名称：{RuntimeInformation.OSDescription}")</h3>
    <h3>@string.Format($"进程架构：{RuntimeInformation.ProcessArchitecture}")</h3>
    <h3>@string.Format($"Framework：{RuntimeInformation.FrameworkDescription}")</h3>
</div>


