@{
    ViewData["Title"] = "Home Page";
}
@model string
    <div class="text-center">
        <p>DateTime: @Model</p>
        <a class="btn btn-primary" href="?q=1" role="button">Link 1</a>
        <a class="btn btn-primary" href="?q=2" role="button">Link 2</a>
        <a class="btn btn-primary" href="?q=3" role="button">Link 3</a>
    </div>
